<div [@routerTransition]>
	<div class="jumbotron">
  	<h1 class="display-4">Alimentación Pellicer</h1>
  	<p class="lead"></p>
  	<hr class="my-4">
  	<p>Sistema de gestión empresarial para empleados e inventarios.</p>

	</div>
	<div class="row">
		<div class="col-md-6">
		<div class="col-md-8">
			<form>
			<h2>Vacaciones</h2>
			<hr>
			<div class="form-group">
			<label for="inicio">Fecha inicio</label>
			<input type="date" class="form-control" id="inicio" aria-describedby="emailHelp" placeholder="fecha">
			</div>
			<div class="form-group">
			<label for="fin">Fecha fin</label>
			<input type="date" class="form-control" id="fin" aria-describedby="emailHelp" placeholder="Fecha">
			</div>
			<div class="form-group">
			<button type="submit" class="btn btn-primary">Asignar vacaciones</button>
			</div>
			
			</form>
		</div>
		</div>
		<div class="col-md-4">
				<div class="alert alert-danger col-md-12 text-center" role="alert" *ngIf="error">
						{{error}}
					</div>
			<form>
					<h2>Nóminas</h2>
					<hr>
				<div class="form-group">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						  <label class="input-group-text" for="inputGroupSelect01">Mes</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01" name="mes_elegido" [(ngModel)]="mes_elegido">
						  <option selected disabled value="99">Eligir Mes</option>
						  <option value="0">Enero</option>
						  <option value="1">Febrero</option>
						  <option value="2">Marzo</option>
						  <option value="3">Abril</option>
						  <option value="4">Mayo</option>
						  <option value="5">Junio</option>
						  <option value="6">Julio</option>
						  <option value="7">Agosto</option>
						  <option value="8">Septiembre</option>
						  <option value="9">Octubre</option>
						  <option value="10">Noviembre</option>
						  <option value="11">Diciembre</option>
						</select>
					  </div>
				</div>
				<div class="form-group">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						  <label class="input-group-text" for="inputGroupSelect02">Año</label>
						</div>
						<select class="custom-select" id="inputGroupSelect02" name="year_elegido" [(ngModel)]="year_elegido">
						  <option *ngFor="let i of years">{{i}}</option>
						</select>
						</div>
						
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success" (click)="verNomina()">Ver Nomina</button>
				</div>
		</form>
		</div>
	</div>
</div>
