<div [@routerTransition]>
	<div class="jumbotron">
  	<h1 class="display-4">Alimentación Pellicer</h1>
  	<p class="lead"></p>
  	<hr class="my-4">
  	<p>Sistema de gestión empresarial para empleados e inventarios.</p>

	</div>
	<div class="row">
		<div class="col-md-6">
		<div class="col-md-8">
			<form>
			<h2>Vacaciones</h2>
			<hr>
			<div class="form-group">
			<label for="inicio">Fecha inicio</label>
			<input type="date" class="form-control" id="inicio" aria-describedby="emailHelp" placeholder="fecha">
			</div>
			<div class="form-group">
			<label for="fin">Fecha fin</label>
			<input type="date" class="form-control" id="fin" aria-describedby="emailHelp" placeholder="Fecha">
			</div>
			<div class="form-group">
			<button type="submit" class="btn btn-primary">Asignar vacaciones</button>
			</div>
			<div class="form-group">
						<button type="submit" class="btn btn-success">Pedir Nomina de este mes</button>
			</div>
			</form>
		</div>
		</div>
	</div>
</div>
