<div [@routerTransition]>
    <h1 class="text-muted">Panel de Administración</h1>
    <div class="row">
        <div class="col-md-4">
		<h3>Alta Empleados</h3>
		<hr>
			<form>
				  <div class="form-group">
					<label for="email">Correo Electrónico</label>
					<div class="input-group mb-4">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">@</span>
					</div>
					<input type="email" class="form-control" id="correo" placeholder="Email" name="email" [(ngModel)]="email">
					</div>
				  </div>
				  <div class="form-group">
					<label for="nomape">Nombre </label>
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
						</div>
					
					<input type="text" class="form-control" id="nom" placeholder="Nombre" name="nombre" [(ngModel)]="nombre">
					</div>
				  </div>
				  <div class="form-group">
					<label for="apellidos">Apellidos </label>
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
						</div>
					
					<input type="text" class="form-control" id="apellidos" placeholder="Apellidos" name="apellidos" [(ngModel)]="apellidos">
					</div>
				  </div>
				  <div class="form-group">
					<label for="dir">Dirección </label>
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
						</div>
					
					<input type="text" class="form-control" id="dir" placeholder="Direccion" name="direccion" [(ngModel)]="direccion">
					</div>
				  </div>
				  <div class="form-group">
					<label for="tel">Teléfono </label>
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
						</div>
					
					<input type="text" class="form-control" id="tel" placeholder="telefono" name="telefono" [(ngModel)]="telefono">
					</div>
				  </div>
				  <div class="form-group">
					<label for="fecha">Fecha Nacimiento </label>
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
						</div>
					
					<input type="text" class="form-control" id="nom" placeholder="Fecha de Nacimiento" name="fecha" [(ngModel)]="fecha">
					</div>
				  </div>
				  <div class="form-group">
				   
				  <button type="submit" class="btn btn-primary" (click)="darAlta()">Dar de Alta</button>
				  </div>
			</form>
        </div>
    </div>

</div>
